.blog-post-summary {
	padding: 0 $large-gap;
	margin: 0 $med-gap $xxlarge-gap $med-gap;
	.post-title {
		@include title-styles( 0 $med-gap $small-gap 0 );
		a {
			font-weight: 300;

			color: $lblack;
			@include font-stack-header;
			&:hover, &:focus {
				text-shadow: 0 1px 2px $gray;
				transition: 0.1s linear text-shadow;
			}
		}
	}  /* .post-title */
	.post-meta {
		font-size: 1rem;
		padding: 0 0 .5rem 0;
		letter-spacing: 1px;
		word-spacing: 1px;
		border-bottom: 1px solid $lblack;
		@include font-stack-body;
	}  /* .post-meta */
	.post-styles {
		.article-sub-heading {
			padding: 0;
			margin: 0;
			font-size: 1.5rem;
			text-shadow: 0 1px 1px $lblack;
			text-transform: uppercase;
		}
		.post-excerpt {
			margin: 20px 0 50px 0;
			font-size: 1rem;
			letter-spacing: 1px;
			word-spacing: 2px;
			line-height: $lineh-large;
			@include font-stack-header;
			code {
				padding: 1px 2px 0 2px;
				background: $lgray;
				font-family: Consolas, Monaco, 'Andale Mono', monospace;
			}
		}  /* .post-excerpt */
	}
}  /* .blog-summary */