.blog-post-summary {
	background: $white;
	padding: $xlarge-gap $xxxlarge-gap;
	margin: 0 $med-gap $xxlarge-gap $med-gap;
	.meta-box {
		.post-title {
			@include title-styles( 0 $med-gap $small-gap 0 );
			a {
				font-weight: 300;
				text-shadow: 0 1px 2px $gray;
				color: $lblack;
				@include font-stack-header;
			}
		}  /* .post-title */
		.post-meta {
			letter-spacing: 1px;
			word-spacing: 1px;
			font-size: $font-med;
			padding: 0 0 $small-gap 0;
			border-bottom: 1px solid $lblack;
			@include font-stack-body;
			.post-category {
				padding: 0 0 $tiny-gap 0;
				color: $blue;
				&:hover, &:focus {
					color: $lblack;
					transition: 0.1s linear color;
				}
			}
			.post-author {
				padding: 0 0 $tiny-gap 0;
				color: $blue;
				&:hover, &:focus {
					color: $lblack;
					transition: 0.1s linear color;
				}
			}
		}  /* .post-meta */
	}  /* .meta-box */
	.post-styles {
		h4 {
			padding: $large-gap 0;
			margin: $none;
			font-size: $font-larger;
			text-shadow: 0 1px 1px $lblack;
			/* text-transform: uppercase; */
		}  /* <h4></h4> */
		p {
			font-size: 1rem;
			letter-spacing: 1px;
			word-spacing: 2px;
			margin: $large-gap 0 $xxxlarge-gap 0;
			line-height: $lineh-large;
			@include font-stack-header;
		}  /* <p></p> */
		code {
			padding: $tiny-gap $small-gap 0 $small-gap;
			text-shadow: 1px 1px 1px $white;
			background: $lgray;
			font-family: Consolas, Monaco, 'Andale Mono', monospace;
		}  /* <code></code> */
		strong {
			text-shadow: 1px 1px 1px $gray;
			font-size: $font-large;
		}  /* <strong></strong> */
		em {
			font-weight: 300;
			padding: 0 2px 0 0;
			color: $dgray;
			font-style: italic;
		}  /* <em></em> */
		ul {
			margin: 0 0 $xxxlarge-gap 0;
			li {
				letter-spacing: 1px;
				word-spacing: 1px;
				padding: 4px 0;
				font-size: $font-med;
				color: $lblack;
				@include font-stack-header;
			}  /* <li></li> */
		}  /* <ul></ul> */
		li {
			line-height: 1.5rem;
			letter-spacing: 1px;
			word-spacing: 1px;
			padding: 2px 0 4px 0;
			list-style-image: url(../images/icons/png/lightning.png);
			font-size: $font-med;
			color: $lblack;
			list-style-position: inside;
			@include font-stack-header;
		}  /* <li></li> */
		img {
			width: 100%;
			margin: $med-gap 0;
			box-shadow: 0 0 1px 1px $lgray;
			height: auto;
		}
		a {
			img {

			}
		}
	}  /* .post-styles */
	.blog-post-tags {
		width: 100%;
		padding: $large-gap 0;
		border-top: 4px solid $gray;
		border-bottom: 1px solid $gray;
		margin: $xxlarge-gap 0;
		.media-tag-link {
			margin: 0 $small-gap;
			display: inline-block;
			&:hover, &:focus {
				color: $lblack;
				transition: 0.1s linear color;
			}
			.blog-post-tag-icon {
				width: $med-gap;
				fill: $dgray;
				display: inline-block;
			}  /* .blog-post-tag-icon */
			.tag-link {
				padding: 0 $tiny-gap*2;
			}  /* .tag-link */
		}  /* .media-tag-link */
	}  /* .blog-post-tags */
	.media-share-post {
		width: 100%;
		display: block;
		position: relative;
		.media-share-post-link {
			width: 30px;
			top: $small-gap;
			margin: 0 $tiny-gap;
			position: relative;
			 .svg-share-post {
				fill: $lblack;
			}
		}  /* .media-share-post-link */
		.bar-border {
			bottom: $small-gap;
			width: $xxlarge-gap;
			border-bottom: 1px solid $lblack;
			position: relative;
		}  /* .bar-border */
		.bar-border-left {
			width: $xxxlarge-gap*3;
		}  /* .bar-border-left */
		.bar-border-right {
			width: $xxxlarge-gap*3;
		}  /* .bar-border-right */
		.blog-svg-facebook {
			&:hover, &:focus {
				fill: $facebook;
				transition: 0.2s linear fill;
			}
		}  /* .facebook-share-post */
		.blog-svg-twitter {
			&:hover, &:focus {
				fill: $twitter;
				transition: 0.2s linear fill;
			}
		}  /* .twitter-share-post */
		.blog-svg-google {
			&:hover, &:focus {
				fill: $google;
				transition: 0.2s linear fill;
			}
		}  /* .google-share-post */
	}  /* .media-share-post */
}  /* .blog-post-summary */