.blog-post-summary {
	padding: 0 $large-gap;
	margin: 0 $med-gap $xxlarge-gap $med-gap;
	.post-title {
		@include title-styles( 0 $med-gap $small-gap 0 );
		a {
			font-weight: 300;
			color: $lblack;
			@include font-stack-header;
			&:hover, &:focus {
				text-shadow: 0 1px 2px $gray;
				transition: 0.1s linear text-shadow;
			}
		}
	}  /* .post-title */
	.post-meta {
		font-size: $font-med;
		padding: 0 0 $small-gap 0;
		letter-spacing: 1px;
		word-spacing: 1px;
		border-bottom: 1px solid $lblack;
		@include font-stack-body;
		.post-category {
			padding: 0 0 $tiny-gap 0;
			color: $dgray;
		}
		.post-author {
			padding: 0 0 $tiny-gap 0;
			color: $dgray;
		}
	}  /* .post-meta */
	.post-styles {
		h4 {
			padding: 0 0 $large-gap 0;
			margin: 0;
			font-size: $font-larger;
			text-shadow: 0 1px 1px $lblack;
			/* text-transform: uppercase; */
		}  /* <h4></h4> */
		p {
			margin: $large-gap 0 $xxxlarge-gap 0;
			font-size: 1rem;
			letter-spacing: 1px;
			word-spacing: 2px;
			line-height: $lineh-large;
			@include font-stack-header;
		}  /* <p></p> */
		code {
			padding: $tiny-gap $small-gap 0 $small-gap;
			text-shadow: 1px 1px 1px $white;
			background: $lgray;
			font-family: Consolas, Monaco, 'Andale Mono', monospace;
		}  /* <code></code> */
		strong {
			text-shadow: 1px 1px 1px $gray;
			font-size: $font-large;
		}  /* <strong></strong> */
		em {
			font-weight: 300;
			padding: 0 2px 0 0;
			color: $dgray;
			font-style: italic;
		}  /* <em></em> */
		ul {
			margin: 0 0 $xxxlarge-gap 0;
			li {
				letter-spacing: 1px;
				word-spacing: 1px;
				padding: 4px 0;
				font-size: $font-med;
				color: $lblack;
				@include font-stack-header;
			}  /* <li></li> */
		}  /* <ul></ul> */
	}  /* .post-styles */
	.media-share-post {
		.media-share-post-title {
			font-size: $font-larger;
			text-shadow: 1px 1px 1px $lgray;
			color: $lblack;
			text-transform: uppercase;
		}  /* .media-share-post-title */
		.media-share-post-link {
			font-size: $font-large;
			padding: $tiny-gap $tiny-gap*2;
			color: $lblack;
		}  /* .media-share-post-link */
		.facebook-share-post {
			color: $lgray!important;
			background: $facebook;
		}  /* .facebook-share-post */
		.twitter-share-post {
			background: $twitter;
		}  /* .twitter-share-post */
		.google-share-post {
			background: $google;
		}  /* .google-share-post */
	}  /* .media-share-post */
}  /* .blog-post-summary */