.contact-preamble {
	padding: 2rem 2rem 0 2rem;
	> h2 {
		padding: 1rem 0;
	}  /* <h4></h4> */
	ul {
		li:before {
			content: ">  ";
			color: $gray;
		}  /* li:before */
		li {
			padding: .25rem 0;
			margin: 0 0 0 2rem;
			color: $black;
		}  /* <li></li> */
	}  /* <ul></ul> */
}  /* .contact-preamble */

.contact-container {
	.contact-form {
		padding: 2rem;
		overflow: hidden;
		input {
			line-height: 1;
			padding: .25rem 1rem 0 1rem;
			margin: 1rem 0;
			border: 2px solid $gray;
			font-size: $font-med;
			display: inline-block;
			box-sizing: border-box;
		}  /* <input> */
		input::-webkit-input-placeholder {
			font-size: $font-med;
		}  /* input::-webkit-input-placeholder */
		input:focus::-webkit-input-placeholder {
			transition: opacity 0.1s linear;
			opacity: 0;
		}  /* input:focus::-webkit-input-placeholder */
		.user-first-name {
			margin: .5rem 0;
			width: 10rem;
			height: 2rem;
		}  /* user-first-name */
		.user-last-name {
			margin: .5rem 0;
			width: 10rem;
			height: 2rem;
		}  /* user-last-name */
		.user-email {
			width: 15rem;
			height: 2rem;
			display: block;
		}  /* user-email */
		textarea {
			width: 30rem;
			line-height: 1;
			height: 8rem;
			padding: .25rem 1.25rem 0 1rem;
			border: 2px solid $gray;
			font-size: $font-med;
			display: block;
			&:focus {
				outline: 0;
				box-shadow: none;
			}  /* txtarea:focus */
		}  /* user-message */
		textarea::-webkit-input-placeholder {
			font-size: $font-med;
		}  /* textarea::-webkit-input-placeholder */
		textarea:focus::-webkit-input-placeholder {
			transition: opacity 0.1s linear;
			opacity: 0;
		}  /* textarea:focus::-webkit-input-placeholder */
		.user-submission {
			padding: .25rem .75rem;
			margin-top: 1rem;
			width: 9rem;
			height: 2.5rem;
			font-size: $font-med;
			background: $lgray;
			display: block;
			cursor: pointer;
			&:hover, &:focus {
				background: $lblack;
				outline: 0;
				transition: 0.1s linear background;
			}  /* .user-submission:hover, .user-submission:focus */
			.submission-icon {
				width: 2rem;
				margin: 0 auto;
				display: block;
			}  /* .submission-icon */
		}  /* user-submission */
	}  /* .contact-form */
}  /* contact-container */