.heading {
	z-index: 999;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.6);
	background: $lblack;
	margin-bottom: $xxlarge-gap;
	border-bottom: 0.3rem solid $blue;
}  /* .heading */

header {
	padding: $med-gap 0 $large-gap 0;
	> a {
		letter-spacing: 1px;
		color: $blue;
		font-size: 3.25rem;
		padding: 0 0 0 $large-gap;
		text-shadow: 0 1px 1px $dblack;
		position: relative;
		text-transform: uppercase;
		@include font-stack-brand;
		span {
			top: 4px;
			letter-spacing: 3px;
			font-size: $font-xl;
			color: $dwhite;
			position: relative;
		}  /* <span></span> */
	}  /* > a */
}  /* /header */

.search-block {
	padding: 0 $tiny-gap $large-gap 0;
}  /* .menu */

.nav-container {
	width: 100%;
	background: darken($dgray, 10%);
	.nav-bar {
		padding: $tiny-gap 0 $tiny-gap $large-gap*2;
		.nav-item {
			margin-left: $med-gap;
			display: inline-block;
			&:first-child {
				margin-left: 0;
			}
			.nav-item-link {
				color: $white;
				font-size: $font-small;
				letter-spacing: .05rem;
				text-transform: uppercase;
				&:hover, &:focus {
					color: $green;
					transition: 0.1s linear color;
				}
			}
		}
	}
}