.heading {
	z-index: 999;
	background: $lblack;
	margin-bottom: $large-gap;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.6);
	border-bottom: 0.3rem solid $blue;
}  /* .heading */

header {
	padding: $large-gap 0;
	> a {
		color: $lgreen;
		letter-spacing: 1px;
		font-size: $font-xxl;
		padding: 0 0 0 $large-gap;
		text-shadow: 0 1px 1px $dblack;
		position: relative;
		text-transform: uppercase;
		@include font-stack-brand;
		span {
			top: 5px;
			letter-spacing: 2px;
			font-size: 1.5rem;
			color: $dwhite;
			position: relative;
		}
	}  /* > a */
}  /* /header */

.menu {
	padding: 2.25rem $tiny-gap $large-gap 0;
}  /* .menu */

.nav-list {
	.nav-item-box {
		padding: 0 $large-gap;
		a {
			letter-spacing: 2px;
			line-height: 1;
			color: $dwhite;
			padding: $med-gap 0 $small-gap 0;
			font-size: $font-small;
			text-transform: uppercase;
			@include font-stack-brand;
			&:hover, &:focus {
				border-bottom: 1px solid $lgreen;
				transition: 0.1s linear all;
			}
		}
	}  /* .nav-item-box */
}  /* .nav-list */