/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+apacheconf+bash+c+ruby+css-extras+git+http+jade+java+latex+markdown+objectivec+php+scss+sql+swift&plugins=show-language */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: $dwhite;
	direction: ltr;
	text-align: left;

	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	font-weight: 500;
	font-size: $font-med!important;
	@include font-stack-code;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}  /* code[class*="language-"], pre[class*="language-"] */

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	margin: .5em 0;
	overflow: auto;
	> code[class*="language-"] {
		padding: 1rem;
		line-height: 2;
		background: $lblack!important;
		@include font-stack-code;
	}  /* code[class*="language-"] */
}  /* pre[class*="language-"] */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #5C89AD;
}  /* .token.comment, .token.prolog, .token.doctype, .token.cdata */

.token.punctuation {
	color: $dwhite;
}  /* .token.punctuation */

.namespace {
	opacity: .7;
}  /* .namespace */

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.deleted {
	color: #7B56AF;
}  /* .token.property, .token.boolean, .token.number, .token.constant, .token.deleted */

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #3965AF;
}  /* .token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted */

.token.operator,
.token.entity,
.token.url,
.style .token.string {
	color: $dwhite;
}  /* .token.operator, .token.entity, .token.url, .style .token.string */

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #2E764B;
}  /* .token.atrule, .token.attr-value, .token.keyword */

.token.function {
	color: #894B74;
}  /* .token.function */

.token.regex,
.token.important,
.token.variable {
	color: #CB2C20;
}  /* .token.regex, .token.important, .token.variable */

.token.important,
.token.bold {
	font-weight: bold;
}  /* .token.important, .token.bold */

.token.italic {
	font-style: italic;
}  /* .token.italic */

.token.entity {
	cursor: help;
}  /* .token.entity */

div.prism-show-language {
	position: relative;
}  /* div.prism-show-language */