input {
	outline: none;
}  /* input */

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}  /* input::-webkit-search-decoration, input::-webkit-search-cancel-button */

input[type=search] {
	background: $lblack url(../images/icons/svg/blog-media/search.svg) no-repeat center;
	fill: $white;
	background-size: 20px;
	border: 2px solid $blue;
	padding: 9px 10px 9px 32px;
	width: 155px;

	font-family: inherit;
	font-size: 100%;

	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;

	@include bp(mama) {
		width: 280px;
		background-position: 10px 10px;
	}
}  /* input[type=search] */

input[type=search]:focus {
	width: 270px;
	background-color: #fff;
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}  /* input[type=search]:focus */

#search-wrapper input[type=search] {
	width: 25px;
	height: 25px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}  /* #search-wrapper input[type=search] */
#search-wrapper input[type=search]:hover {
	border: 2px solid $green;
	background-size: 20px;
	transition: 0.2s linear all;
}  /* #search-wrapper input[type=search]:hover */

#search-wrapper input[type=search]:focus {
	width: 20rem;
	padding-left: 32px;
	color: #000;
	cursor: auto;
	background: $white;
}  /* #search-wrapper input[type=search]:focus */

#search-wrapper input:-moz-placeholder {
	color: transparent;
}  /* #search-wrapper input:-moz-placeholder */

#search-wrapper input::-webkit-input-placeholder {
	color: transparent;
}  /* #search-wrapper input::-webkit-input-placeholder */

.search-submit {
	display: none;
}  /* .search-submit */

#search-wrapper {
	float: right;
	margin-top: 1.25rem;
	margin-right: 1rem;
	@include clearfix;
	@include bp(mama) {
		float: left;
		display: block;
		width: 100%;
	}
}  /* #search-wrapper */