.secondary {
	margin: $med-gap $med-gap $xxlarge-gap 0;
	display: block;
	@include sidebar-styles( $none, $lblack );
	&:last-child {
		margin: $none $med-gap $xxlarge-gap $none;
	}  /* .secondary:last-child */
	.section-title {
		letter-spacing: 1px;
		word-spacing: 1px;
		background: $dwhite;
		padding: $small-gap $med-gap;
		display: inline-block;
		position: relative;
		a {
			font-weight: 300;
			color: $dblue;
			line-height: $lineh-med;
			font-size: $font-large;
			&:hover, &:focus {
				color: $green;
				transition: 0.1s linear color;
			}  /* a:hover, a:focus */
		}  /* <a></a> */
	}  /* .section-title */
	.article-links {
		padding-top: $med-gap;
		text-transform: uppercase;
	}  /* .article-links */
	.sidebar-head-banner {
		color: $gray;
		font-size: $font-large;
		padding: $small-gap $med-gap;
		font-weight: 300;
		text-transform: uppercase;
		text-align: right;
		background: $dblack!important;
		box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2),
					   -1px 0 0 0 rgba(0, 0, 0, 0.2),
					   0 1px 1px 0 rgba(0, 0, 0, 0.2),
					   0 -1px 1px 0 rgba(0, 0, 0, 0.2);
	}  /* <h2></h2> */
	.post-categories {
		background: $lblack;
		.category-title {
			color: $green!important;
			text-transform: uppercase;
		}  /* .web-article */
	}  /* .related-articles */
	.code-break-links {
		.break-title {
			color: $lblue!important;
			font-weight: 300;
			text-transform: uppercase;
			.article-sub-title {
				text-transform: none!important;
			}  /* article-sub-title */
		}  /* break-title */
	}  /* code-break-links */
	.repost-articles {
		margin: 1rem;
		background: $dwhite;
		display: flex;
		a {
			padding: 1.5rem 0;
			display: block;
			.img-repost {
				display: block;
				transform-origin: 50% 50% 0;
				margin: 1rem auto;
				animation: shake 3s infinite;
  				animation-direction: alternate;
			}  /* .img-repost */
		}   /* <a></a> */
	}  /* .repost-articles */
}  /* .secondary */

.article-title {
	padding: $small-gap $med-gap;
	font-size: $font-med;
	text-transform: uppercase;
	background: none;
	display: block;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1),
				   0 1px 0 0 transparent,
				   1px 0 0 0 transparent,
				   -1px 0 0 0 transparent;
	.article-sub-title {
		color: lighten($lblack, 20%);
		padding-top: $med-gap;
		font-size: $font-med;
		text-transform: none;
		display: block;
		@include font-stack-brand;
	}  /* .article-sub-title */
	&:hover, &:focus {
		background: lighten($lblack, 5%);
		cursor: pointer;
		outline: none;
		box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2),
					   -1px 0 0 0 rgba(0, 0, 0, 0.2),
					   0 1px 1px 0 rgba(0, 0, 0, 0.2),
					   0 -1px 1px 0 rgba(0, 0, 0, 0.2);
		transition: 0.1s linear all;
		&:last-child {
			box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2),
					  	  -1px 0 0 0 rgba(0, 0, 0, 0.2),
					   	    0 1px 0 0 rgba(0, 0, 0, 0.2),
					   	    0 -1px 0 0 rgba(0, 0, 0, 0.2);
		}  /* .article-title:hover &:last-child */
		.article-sub-title {
			color: $gray;
			transition: 0.1s linear all;
		}  /* .article-sub-title */
	}  /* .article-title:hover, .article-title:focus */
}  /* .article-title */