.secondary {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
	margin: $med-gap $med-gap $xxlarge-gap 0;
	display: block;
	@include sidebar-styles( $blue, $lblack );
	&:last-child {
		margin: $none $med-gap $xxlarge-gap $none;
	}  /* .secondary:last-child */
	.section-title {
		letter-spacing: 1px;
		word-spacing: 1px;
		background: $dwhite;
		padding: $small-gap $med-gap;
		display: inline-block;
		position: relative;
		a {
			font-weight: 300;
			color: $dblue;
			line-height: $lineh-med;
			font-size: $font-larger;
			&:hover, &:focus {
				color: $blue;
				transition: 0.2s linear color;
			}  /* a:hover, a:focus */
		}  /* <a></a> */
	}  /* .section-title */
	.side-content {
		padding: $none;
		margin: $none;
		position: relative;
		.article-title {
			@include title-styles( $none $med-gap $small-gap $med-gap );
			a {
				letter-spacing: 1px;
				line-height: $lineh-med;
				width: 90%;
				padding-left: $small-gap;
				color: $dwhite;
				font-size: $font-med;
			}  /* <a></a> */
		}  /* .article-title */
	}  /* .side-content */
	.article-links {
		padding-top: $med-gap;
	}  /* .article-links */
	h2 {
		color: $blue;
		font-size: $font-large;
		background: $dwhite;
		padding: $small-gap $med-gap;
		text-transform: uppercase;
		text-align: right;
	}  /* <h2></h2> */
	.related-articles {
		background: $dwhite;
		padding-bottom: $small-gap;
		.article-title {
			padding: $small-gap $med-gap;
			margin: 0 $med-gap;
			box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1),
						   0 1px 0 0 transparent,
						   1px 0 0 0 transparent,
						   -1px 0 0 0 transparent;
			&:hover, &:focus {
				&:last-child {
					box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2),
							  	  -1px 0 0 0 rgba(0, 0, 0, 0.2),
							   	    0 1px 0 0 rgba(0, 0, 0, 0.2),
							   	    0 -1px 0 0 rgba(0, 0, 0, 0.2);
				}  /* .article-title:hover &:last-child */
				box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.2),
							   -1px 0 0 0 rgba(0, 0, 0, 0.2),
							   0 1px 1px 0 rgba(0, 0, 0, 0.2),
							   0 -1px 1px 0 rgba(0, 0, 0, 0.2);
				transition: 0.15s linear all;
				cursor: pointer;
			}  /* .article-title:hover, .article-title:focus */
			.related-link {
				color: $lblack;
				font-size: $font-med;
				display: block;
				@include font-stack-brand;
			}  /* .related-link */
			.article-sub-title {
				color: $gray;
				font-size: $font-small;
				@include font-stack-brand;
			}  /* .article-sub-title */
		}  /* .article-title */
		.web-article {
			.web-attribution {
				color: $dgray;
				font-style: italic;
			}  /* .web-attribution */
		}  /* .web-article */
	}  /* .related-articles */
}  /* .secondary */

.subscriber-input {
	h1 {
		color: $gray;
		font-size: $font-med;
		padding: $med-gap $small-gap $none $small-gap;
		font-style: italic;
		text-align: center;
	}  /* <h1></h1> */
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
	margin: $med-gap $med-gap $large-gap $none;
	display: block;
	@include sidebar-styles( $green, $dwhite );
	.subscription-block {
		display: table;
		padding: $large-gap $none;
		margin: $none auto;
		p {
			padding: $med-gap $small-gap $none $none;
			color: $lgreen;
			font-size: $font-med;
			text-transform: uppercase;
			display: inline-block;
			@include font-stack-header;
		}  /* <p></p> */
		.email-input {
			font-weight: 300;
			height: $large-gap;
			color: $lblack;
			font-size: $font-small;
			padding: $none $none $none $small-gap;
			background: darken($dwhite, 5%);
			max-width: $super-gap*3;
			border-bottom: 1px solid $lgray;
			border-right: 1px solid $lgray;
			text-transform: uppercase;
			@include font-stack-header;
		}  /* .email-input */
		input::-webkit-input-placeholder {
			letter-spacing: 1px;
			color: $gray;
		}  /* input::-webkit-input-placeholder  */
		input:focus::-webkit-input-placeholder {
			opacity: 0;
			transition: opacity 0.2s linear;
		}  /* input:focus::-webkit-input-placeholder */
		.subscriber-submission {
			color: $dwhite;
			background: $blue;
			font-size: $font-small;
			padding: $tiny-gap $large-gap;
			margin: $none $none $none $med-gap;
			border-radius: 25px;
			box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.9);
			text-transform: uppercase;
			border: none;
			@include font-stack-header;
			&:hover, &:focus {
				box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.8);
				transition: 0.1s linear all;
				outline: none;
				cursor: pointer;
			}  /* .subscriber-submission:hover, .subscriber-submission:focus */
		}  /* .subscriber-submission */
	}  /* .subscription-block */
}   /* .subscriber-input */