.secondary {
	display: block;
	margin: $med-gap $med-gap $xxlarge-gap 0;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
	@include sidebar-styles( $lgreen, $lblack );
	&:last-child {
		margin: 0 $med-gap $xxlarge-gap 0;
	}
	.section-title {
		letter-spacing: 1px;
		word-spacing: 1px;
		background: $lblack;
		padding: $small-gap $med-gap;
		display: inline-block;
		position: relative;
		a {
			line-height: 1;
			font-weight: 300;
			color: $blue;
			font-size: 1.5rem;
			&:hover, &:focus {
				color: $blue;
				transition: 0.2s linear color;
			}
		}  /* <a></a> */
	}  /* .section-title */
	.side-content {
		padding: 0;
		margin: 0;
		.article-title {
			@include title-styles( 0 $med-gap $small-gap $med-gap );
			a {
				padding-left: $small-gap;
				letter-spacing: 1px;
				line-height: 1.25;
				color: $dwhite;
				font-size: $font-med;
				position: relative;
/* 				&:hover, &:focus {
					color: $lgray;
					transition: 0.1s linear color;
				} */
				&:hover .triangle-left, &:focus .triangle-left {
					border-left: 7.5px solid $blue;
					transition: 0.2s linear all;
				}
				.triangle-left {
					left: -$small-gap;
					top: $none;
				    	width: 0;
				    	height: 0;
				    	border-top: 5px solid transparent;
				    	border-bottom: 5px solid transparent;
				    	border-left: 7.5px solid $lblack;
				    	position: relative;
				}  /* .triangle-left */

			}
		}  /* .article-title */
	}  /* .side-content */
	.article-links {
		padding-top: $med-gap;
	}  /* .article-links */
}  /* .secondary */

.inside-preview {
	@include sidebar-styles( $blue, $white );
	.preview-title {
		@include title-styles( 0 $med-gap $small-gap $med-gap );
		.gadget-title {
			color: $lblack;
			text-decoration: underline;
			&:hover, &:focus {
				color: $blue;
			}
		}  /* .gadget-title */
	}  /* .preview-title */
	.preview-block {
		padding: 0;
		position: relative;
		.device-preview {
			width: 100%;
			height: auto;
			padding: 0;
			box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
			&:hover, &:focus {
				box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.6);
				transition: 0.1s linear all;
			}
		}  /* .device-preview */
		.guess-device {
			z-index: 111;
			width: 100%;
			padding: $tiny-gap 0;
			color: $white;
			font-size: $font-large;
			background: rgba(152, 152, 152, 0.6);
			bottom: $med-gap;
			text-align: center;
			position: absolute;
		}  /* .guess-device */
	}  /* .preview-block */
}  /* .inside-preview */