section(class='secondary' role='region')
	h2.sidebar-head-banner Archives
	article.post-categories
		<a href='#' target='_blank' class="related-link category-title article-title"  tabindex="12">Code Snippets</a>
		<a href='#' target='_blank' class="related-link category-title article-title"  tabindex="8">Wordpress</a>
		<a href='#' target='_blank' class="related-link category-title article-title"  tabindex="9">Security</a>
		<a href='#' target='_blank' class="related-link category-title article-title"  tabindex="10">Developer Life</a>
		<a href='#' target='_blank' class="related-link category-title article-title"  tabindex="11">Beyond Code</a>

section(class='secondary' role='region')
	h2.sidebar-head-banner Code Break
	article.code-break-links
		<a href='https://www.quora.com/' target='_blank' class="related-link break-title article-title"  tabindex="8">Read<span class="article-sub-title">Some Stuff to Take Your Mind off Code</span></a>
		<a href='http://www.thisamericanlife.org/' target='_blank' class="related-link break-title article-title"  tabindex="9">Listen<span class="article-sub-title">Podcasts To Help Your Mind Wonder</span></a>
		<a href='http://moviewake.com/' target='_blank' class="related-link break-title article-title"  tabindex="7">Watch<span class="article-sub-title">Movies You Haven't Seen Before</span></a>