doctype default
html(lang="en")

head
	title WireGrunt.com
	//- Metas
	include ../jades/metas.jade
	//- favicons
	include ../jades/stylesheets.jade
	//- <meta name='google-site-verification' content='4uYZbqUA80FY2H8m4TS7_Rfb7x_LpmXd6vpsddVGUHM' />