footer(role='contentinfo')
	div.foot-wrap
		div.recent-articles-footer
			h5.foot-widget-head Recent Articles
			h5.foot-widget-link
				a(href="#") An htaccess Template
			h5.foot-widget-link
				a(href="#") "Fizzbuzz"
			h5.foot-widget-link
				a(href="#") Apache Localhost (Tutorial)
			h5.foot-widget-link
				a(href="#") Web Developer Self-sufficiency
			h5.foot-widget-link
				a(href="#") NSString to Read ASCII File
		div.footer-nav
			h5.foot-widget-head Quick Links
			h5.foot-widget-link
				a(href="#") Articles
			h5.foot-widget-link
				a(href="#") Forum
			h5.foot-widget-link
				a(href="#") Wordpress
			h5.foot-widget-link
				a(href="#") Resources
			h5.foot-widget-link
				a(href="#") Colophan
		div.author
			p.author-note
				| It all started with an idea... then a custom design...  From paper to a screen, a website came to life...  This life is curtosy of <a href='#'>Searsino</a>.
			ul.connect-list
				li.social-connection
					a(href='https://www.facebook.com/jcsearson' class='social-media-anchor' target='_blank')
						include ../images/icons/svg/footer-media/facebook.svg

				li.social-connection
					a(href='https://twitter.com/GreatSearsino' class='social-media-anchor' target='_blank')
						include ../images/icons/svg/footer-media/twitter.svg

				li.social-connection
					a(href='https://www.linkedin.com/in/jamessearson' class='social-media-anchor' target='_blank')
						include ../images/icons/svg/footer-media/linkedin.svg

				li.social-connection
					a(href='https://github.com/jcsearson' class='social-media-anchor' target='_blank')
						include ../images/icons/svg/footer-media/github.svg



div(class="colophan" role="contentinfo")
	div.copyright
		p &copy; 2015,  Searsino | All Rights Reserved.