footer(role='contentinfo')
	div.foot-wrap
		div.footer-widget.footer-widget-1
			h5.foot-widget-head Recent Articles
			h5.foot-widget-link
				a(href="#") An htaccess Template
			h5.foot-widget-link
				a(href="#") "Fizzbuzz"
			h5.foot-widget-link
				a(href="#") Apache Localhost (Tutorial)
			h5.foot-widget-link
				a(href="#") Web Developer Self-sufficiency
			h5.foot-widget-link
				a(href="#") NSString to Read ASCII File
		div.footer-widget.footer-widget-2
			h5.foot-widget-head Archive
			h5.foot-widget-link
				a(href="#") Code Snippets
			h5.foot-widget-link
				a(href="#") Wordpress
			h5.foot-widget-link
				a(href="#") Security
			h5.foot-widget-link
				a(href="#") Developer Life
			h5.foot-widget-link
				a(href="#") Beyond Code
		div.footer-widget.footer-widget-3
			h5.foot-widget-head Curtosy
			p.footer-widget-3-note
				| Time is simply all we have in this world.
			include ../images/icons/svg/blog-media/clock.svg
		div.footer-widget.footer-widget-4
			h5.foot-widget-head Authors Note
			p.footer-widget-4-note
				| It all started with an idea... then a custom design...  From paper to a screen, a website came to life...  This life is curtosy of <a href='#'>Searsino</a>.
			ul.connect-list
				li.social-connection
					a(href='http://stackoverflow.com/cv/searson' class='social-media-anchor' target='_blank')
						include ../images/icons/svg/footer-media/stackoverflow.svg

				li.social-connection
					a(href='https://twitter.com/GreatSearsino' class='social-media-anchor' target='_blank')
						include ../images/icons/svg/footer-media/twitter.svg

				li.social-connection
					a(href='https://www.linkedin.com/in/searson' class='social-media-anchor' target='_blank')
						include ../images/icons/svg/footer-media/linkedin.svg

				li.social-connection
					a(href='https://github.com/jcsearson' class='social-media-anchor' target='_blank')
						include ../images/icons/svg/footer-media/github.svg



div(class="colophan" role="contentinfo")
	div.copyright
		p &copy; 2015,  Searsino | All Rights Reserved.