body
	section.heading
		div.head-container
			header(role='banner')
				a(href='/' class="logo-caps") W<span>ire</span>G<span>runt</span>
			form(id="search-wrapper")
				input(type="search" placeholder="Search")

			nav(class="menu" role="navigation")
				ul.nav-list
					li.nav-item-box
						a(href='#' tabindex="3") Articles
					li.nav-item-box
						a(href='#' tabindex="4") Security
					li.nav-item-box
						a(href='#'  tabindex="5") Wordpress
					li.nav-item-box
						a(href='../resources.html'  tabindex="6") Resources