section.heading
	div.head-container
		header(role='banner')
			a(href='/' class="logo-caps") W<span>ire</span>G<span>runt</span>


		div(class="search-block" role="navigation")
			form(id="search-wrapper" class="search-container")
				input(type="search" placeholder="Search")

	div.nav-container
		nav(class="nav-bar" role="navigation")
			li(class="nav-item")
				a(href='/about.html' class="nav-item-link") About
			li(class="nav-item")
				a(href='/' class="nav-item-link") Articles
			li(class="nav-item")
				a(href='/contact.html' class="nav-item-link") Contact