body
	section.heading
		div.head-container
			header(role='banner')
				a(href='/' class="logo-caps") W<span>ire</span>G<span>runt</span>


			nav(class="menu" role="navigation")
				form(id="search-wrapper" class="search-container")
					input(type="search" placeholder="Search")