section(class='secondary' role='region')
	h2.sidebar-head-banner Top Articles
	article.related-articles
		<a href='#' class="related-link article-title"  tabindex="7">Making WP-Admin Safe<span class="article-sub-title">Wordpress</span></a>
		<a href='#' class="related-link article-title"  tabindex="8">Web Developer Self-sufficiency<span class="article-sub-title">Developer Life</span></a>
		<a href='#' class="related-link article-title"  tabindex="9">Apache Localhost Tutorial<span class="article-sub-title">Code Snippets</span></a>
		<a href='#' class="related-link article-title"  tabindex="10">Write Objects to a Text File<span class="article-sub-title">Code Snippets</span></a>
		<a href='#' class="related-link article-title"  tabindex="11">NSString for Reading an ASCII File<span class="article-sub-title">Code Snippets</span></a>


section(class='secondary' role='region')
	h2.sidebar-head-banner Archives
	article.post-categories
		<a href='#' class="related-link category-title article-title"  tabindex="12">Code Snippets</a>
		<a href='#' class="related-link category-title article-title"  tabindex="8">Wordpress</a>
		<a href='#' class="related-link category-title article-title"  tabindex="9">Security</a>
		<a href='#' class="related-link category-title article-title"  tabindex="10">Developer Life</a>
		<a href='#' class="related-link category-title article-title"  tabindex="11">Beyond Code</a>

section(class='secondary' role='region')
	h2.sidebar-head-banner Code Break
	article.code-break-links
		<a href='https://www.quora.com/' target='_blank' class="related-link break-title article-title"  tabindex="8">Read<span class="article-sub-title">Some Stuff to Take Your Mind off Code</span></a>
		<a href='http://www.thisamericanlife.org/' target='_blank' class="related-link break-title article-title"  tabindex="9">Listen<span class="article-sub-title">Podcasts To Help Your Mind Wonder</span></a>
		<a href='http://moviewake.com/' target='_blank' class="related-link break-title article-title"  tabindex="7">Watch<span class="article-sub-title">Movies You Haven't Seen Before</span></a>

section(class="secondary" role="region")
	article.repost-articles
		a(href="https://howdns.works/" target="_blank")
			include ../images/icons/svg/blog-media/dns-works.svg