section(class='secondary' role='region')
	h2.sidebar-head-banner Top Articles
	article.related-articles
		<a href='#' target='_blank' class="related-link article-title"  tabindex="7">Making WP-Admin Safe<span class="article-sub-title">Wordpress</span></a>
		<a href='#' target='_blank' class="related-link article-title"  tabindex="8">Web Developer Self-sufficiency<span class="article-sub-title">Developer Life</span></a>
		<a href='#' target='_blank' class="related-link article-title"  tabindex="9">Apache Localhost Tutorial<span class="article-sub-title">Code Snippets</span></a>
		<a href='#' target='_blank' class="related-link article-title"  tabindex="10">Write Objects to a Text File<span class="article-sub-title">Code Snippets</span></a>
		<a href='#' target='_blank' class="related-link article-title"  tabindex="11">NSString for Reading an ASCII File<span class="article-sub-title">Code Snippets</span></a>


section(class='secondary' role='region')
	h2.sidebar-head-banner Archives
	article.post-categories
		<a href='#' target='_blank' class="related-link category-title article-title"  tabindex="12">Code Snippets<span class="article-sub-title">Useful Pieces of Code</span></a>
		<a href='#' target='_blank' class="related-link category-title article-title"  tabindex="8">Wordpress<span class="article-sub-title">Theme &amp; Plugin Dev</span></a>
		<a href='#' target='_blank' class="related-link category-title article-title"  tabindex="9">Security<span class="article-sub-title">Prevention & Damage Control</span></a>
		<a href='#' target='_blank' class="related-link category-title article-title"  tabindex="10">Developer Life<span class="article-sub-title">On Working in the Industry</span></a>
		<a href='#' target='_blank' class="related-link category-title article-title"  tabindex="11">Beyond Code<span class="article-sub-title">Life Beyond the Text Editor</span></a>

section(class="secondary" role="region")
				article.repost-article
						a(href="https://howdns.works/" target="_blank")
							h2.repost-title
								| How About A Free Refresher Course on DNS Lookups?
							p.repost-excerpt
								img(src="images/content/how-dns-works.png", alt="How DNS Works Comic Boook by DNSimple")