section(class="secondary" role="region")
	h2.sidebar-question-head
		<a href='#' target='_blank' class="resources-banner"  tabindex="12">Do You Find that more time is spent browsing websites as opposed to REALLY reading whats on those sites?</a>

section(class='secondary' role='region')
	h2.sidebar-head-banner Top Articles
	article.related-articles
		h3.article-title
			<a href='#' target='_blank' class="related-link"  tabindex="7">Making WP-Admin Safe</a>
			span(class="article-sub-title") Developer Code Snippets
		h3.article-title
			<a href='#' target='_blank' class="related-link"  tabindex="8">Web Developer Self-sufficiency</a>
			span(class="article-sub-title") A Tentative Guide
		h3.article-title
			<a href='#' target='_blank' class="related-link"  tabindex="9">Apache Localhost Tutorial</a>
			span(class="article-sub-title") Configuration Solution
		h3.article-title
			<a href='#' target='_blank' class="related-link"  tabindex="10">Write Objects to a Text File</a>
			span(class="article-sub-title") iOS Development
		h3.article-title
			<a href='#' target='_blank' class="related-link"  tabindex="11">NSString for Reading an ASCII File</a>
			span(class="article-sub-title") iOS Toolbox


section(class='secondary' role='region')
	h2.sidebar-head-banner Around the Web
	article.related-articles
		h3.article-title
			<a href='http://bradfrost.com/blog/post/the-many-faces-of-adaptive-design/' target='_blank' class="related-link"  tabindex="7">The Faces of ‘Adaptive Design’</a>
			span(class="article-sub-title") http://bradfrost.com
		h3.article-title
			<a href='https://css-tricks.com/moving-to-https-on-wordpress/' target='_blank' class="related-link"  tabindex="8">Moving to HTTPS on WordPress</a>
			span(class="article-sub-title") https://css-tricks.com
		h3.article-title
			<a href='http://www.damninteresting.com/the-zero-armed-bandit/' target='_blank' class="related-link"  tabindex="9">The Zero-armed Bandit</a>
			span(class="article-sub-title") http://www.damninteresting.com
		h3.article-title
			<a href='http://guides.geoffkenyon.com/ecommerce/' target='_blank' class="related-link"  tabindex="10">The Guide to Ecommerce SEO</a>
			span(class="article-sub-title") http://guides.geoffkenyon.com
		h3.article-title
			<a href='http://www.joshuawinn.com/facebooks-sharer-php-longer-deprecated-2014/' target='_blank' class="related-link"  tabindex="11">Facebook Share</a>
			span(class="article-sub-title") http://www.joshuawinn.com