section(class='secondary' role='region')
	h2.sidebar-head-banner Top Articles
	article.related-articles
		<a href='#' target='_blank' class="related-link article-title"  tabindex="7">Making WP-Admin Safe<span class="article-sub-title">Developer Code Snippets</span></a>
		<a href='#' target='_blank' class="related-link article-title"  tabindex="8">Web Developer Self-sufficiency<span class="article-sub-title">A Tentative Guide</span></a>
		<a href='#' target='_blank' class="related-link article-title"  tabindex="9">Apache Localhost Tutorial<span class="article-sub-title">Configuration Solution</span></a>
		<a href='#' target='_blank' class="related-link article-title"  tabindex="10">Write Objects to a Text File<span class="article-sub-title">iOS Development</span></a>
		<a href='#' target='_blank' class="related-link article-title"  tabindex="11">NSString for Reading an ASCII File<span class="article-sub-title">iOS Toolbox</span></a>


section(class='secondary' role='region')
	h2.sidebar-head-banner Around the Web
	article.related-articles
		<a href='http://bradfrost.com/blog/post/the-many-faces-of-adaptive-design/' target='_blank' class="related-link article-title web-repost"  tabindex="12">The Faces of Adaptive Design<span class="article-sub-title">http://bradfrost.com</span></a>
		<a href='https://css-tricks.com/moving-to-https-on-wordpress/' target='_blank' class="related-link article-title web-repost"  tabindex="8">Moving to HTTPS on WordPress<span class="article-sub-title">https://css-tricks.com</span></a>
		<a href='http://www.damninteresting.com/the-zero-armed-bandit/' target='_blank' class="related-link article-title web-repost"  tabindex="9">The Zero-armed Bandit<span class="article-sub-title">http://www.damninteresting.com</span></a>
		<a href='http://guides.geoffkenyon.com/ecommerce/' target='_blank' class="related-link article-title web-repost"  tabindex="10">The Guide to Ecommerce SEO<span class="article-sub-title">http://guides.geoffkenyon.com</span></a>
		<a href='http://www.joshuawinn.com/facebooks-sharer-php-longer-deprecated-2014/' target='_blank' class="related-link article-title web-repost"  tabindex="11">Facebook Share<span class="article-sub-title">http://www.joshuawinn.com</span></a>