section(class="tertiary" role="region")
				article.repost-article
						a(href="https://howdns.works/" target="_blank")
							h2.repost-title
								| How About A Free Refresher Course on DNS Lookups?
							p.repost-excerpt
								img(src="images/content/how-dns-works.png", alt="How DNS Works Comic Boook by DNSimple")