include parts/doctype.jade
body
	include parts/header.jade
	div.main-content
		section(class='primary' role='main')
			article.about-container
				h1 Who Am I?
				p I am a developer.
				p I'm an innovator.
				p I build things.
				p I write about experiences.
				p I promote self-learning.
				p I am passionate about film.
				p I believe that passion is the key to code.
				p I believe in equality ... everyone should have the same oppurtunities.
				p I believe the web is on the verge of a security

		include parts/sidebar.jade
	include parts/footer.jade
include jades/scripts.jade