include parts/doctype.jade
body
	include parts/header.jade
	div.contact-page
		div.contact-preamble
			h2 Looking to get in touch?
			h4 Fill out a form and I will reach out to you as soon as possible:

		section(class="contact-container" role="form")
			form(class="contact-form" method="post" action="/contact-send" accept-charset="UTF-8" novalidate autocomplete="off")
				fieldset
					input(type="text" class="user-first-name" placeholder="first" name="user_first_name")
					input(type="text" class="user-last-name" placeholder="last" name="user_first_name")
					input(type="email" class="user-email" placeholder="user@webmail.com" name="user_email")
					textarea(name="user_message", class="user-message", cols="30", rows="10", placeholder="This message is regarding...")
					button(type="submit" class="user-submission" value="submit" name="submit_form")
						include images/icons/svg/blog-media/send-opt.svg
		include parts/alt-sidebar.jade
	include parts/footer.jade
include jades/scripts.jade