include parts/doctype.jade
		include parts/header.jade

		div.main-content
			//------------------------------------------------------------------
			//--------------------------BLOG POST---------------------------
			//------------------------------------------------------------------
			section(class='primary' role='main')
				article.blog-post-summary
					div.meta-box
						div.meta-writing
							h2.post-title
								a(href='/single.html') Getting “Hacked” in Wordpress
							h4.post-meta.make-note In <a href="#" class="post-category">Security</a> by <a href="#" class="post-author">James Searson</a>
						img(src="images/content/code-snippet-blogpost.png", class="titled-featured-img")
					div.post-styles
						include jades/blogpost2.jade
					div.blog-post-tags
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Brute Force
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Cyber Security
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link eCommerce
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Hacker

				article.blog-post-summary
					div.meta-box
						div.meta-writing
							h2.post-title
								a(href='/single.html') Apple's Big Update
							h4.post-meta.make-note In <a href="#" class="post-category">Software</a> by <a href="#" class="post-author">James Searson</a>
						img(src="images/content/capitan-logo.png", class="titled-featured-img")
					div.post-styles
						include jades/blogpost.jade
					div.blog-post-tags
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Apple
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link El Capitan
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Software Updates
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Linux

				article.blog-post-summary
					div.meta-box
						div.meta-writing
							h2.post-title
								a(href='/single.html') A New Proffession
							h4.post-meta.make-note In <a href="#" class="post-category">Developer Life</a> by <a href="#" class="post-author">James Searson</a>
						img(src="images/content/dev-live-blogpost.png", class="titled-featured-img")
					div.post-styles
						include jades/blogpost3.jade
					div.blog-post-tags
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Designer
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Marketing
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Web Developer

			include parts/sidebar.jade
			include parts/tertiary.jade
include parts/footer.jade
include jades/scripts.jade