doctype default
html(lang="en")

	head
		//- Typekit Font Request
		include jades/typekits.jade
		title WireGrunt.com
		//- Metas
		include jades/metas.jade
		//- favicons
		include jades/stylesheets.jade
		//- <meta name='google-site-verification' content='4uYZbqUA80FY2H8m4TS7_Rfb7x_LpmXd6vpsddVGUHM' />

	body
		section.heading
			div.head-container
				header(role='banner')
					a(href='http://searsino.com/' class="logo-caps") W<span>ire</span>G<span>runt</span>

				nav.menu
					ul.nav-list
						li.nav-item-box
							a(href='about') Articles
						li.nav-item-box
							a(href='blog') Inside
						li.nav-item-box
							a(href='resume') Wordpress
						li.nav-item-box
							a(href='contact-form') Security



		div.main-content
			section(class='primary' role='region')
				article.repost-article
					a(href="https://howdns.works/" target="_blank")
						h2.repost-title
							| How About A Free Refresher Course on DNS Lookups?
						p.repost-excerpt
							img(src="images/content/how-dns-works.png", alt="How DNS Works Comic Boook by DNSimple")
				article.blog-post-summary
					h2.post-title
						a(href='#') Apple Might be Moving Back in the Right Direction | OS X El Capitan
					h4.post-meta.make-note In <a href="#" class="post-category">Web News</a> by <a href="#" class="post-author">James Searson</a> on October 10, 2015
					div.post-styles
						p
							| I finally managed to get Apple's new release of OS X El Capitan this afternoon.  Sure it took some willpower to put up with the absolute atrocity that is "the App Store".  Nonetheless, I have installed it and feel the need to say just a few things regarding my feelings on this years software update:
						h4 The Bulletpoints of El Capitan
						ul
							li Upgrades to <strong>Photos</strong>
							li Additions to <strong>Notes</strong>
							li Additions to <strong>Maps</strong>
							li Additions to <strong>Spotlight</strong>
							li Additions to <strong>Safari</strong>
							li Upgrades to <strong>Mail</strong>
							li Additions to overall <strong>UI</strong> (<em>user interface</em>)
						p
							| Given a set of integers ranging from <code>1 - 99</code> (<em>inclusive</em>), write a program (any computer language you prefer) to output these values in sequential order. IF the value is a multiple of <code>3</code>, then replace its output with the word <code>Fizz</code>. If a value is a multiple of <code>5</code>, replace its output with the word <code>Buzz</code>. And finally, if a value is a multiple of both <code>3</code> and <code>5</code>, then replace its output with <code>Fizzbuzz</code>.
						p
							| A task that seems so simple! … right!? In lieu of my recent trek into the land of Objective-C, I chose to implement my solution as such. So without further ado, my solution to the <code>FizzBuzz</code> task:
						p
							| This gave me the desired output that looks something to this effect: <code>1, 2, Fizz, 4, Buzz, Fizz, 7, 8, Fizz, Buzz, 11, Fizz, 13, 14, Fizzbuzz, ... , 94, Buzz, Fizz, 97, 98, Fizz</code>. There you have it, I can do something that many others apparently cannot!
					div.media-share-post
						h5.media-share-post-title Share This
						a(class="media-share-post-link facebook-share-post" href="#") Facebook
						a(class="media-share-post-link twitter-share-post" href="#") Twitter
						a(class="media-share-post-link google-share-post" href="#") Google+

			section(class='secondary inside-preview' role='region')
				article.blog-post-summary.side-content
					div.preview-block
						a(href='#' target='_blank')
							img(src="images/content/router-inside.jpg" alt="Preview of what's inside a tech device" class="device-preview")
							h5.guess-device Can You Guess What Uses This?



			section(class='secondary' role='region')
				article.article-links.side-content
					p.article-title
						a(href='http://www.bloomberg.com/bw/stories/2001-12-05/lamos-adventures-in-worldcom' target='_blank') Lamo's Adventures in WorldCom
					p.article-title
						a(href='http://www.wired.com/2015/10/see-jrr-tolkien-lord-of-the-rings-middle-earth-illustrations-for-first-time/' target='_blank') The Sketches that made Lord of the Rings
					p.article-title
						a(href='http://www.paulund.co.uk/creating-different-css3-box-shadows-effects' target='_blank') CSS Box Shadows Effects
					p.article-title
						a(href='http://www.toptal.com/php/10-most-common-mistakes-php-programmers-make/' target='_blank') 10 Common (PHP) Mistakes
					p.article-title
						a(href='http://www.sbnation.com/nfl/2015/8/7/9114747/joe-flacco-elite-gop-debate-cleveland/' target='_blank') What a guy with a Joe Flacco sign learned at the GOP debate




		footer(role='contentinfo')
			div.foot-wrap
				div.recent-articles-footer
					h5.foot-widget-head Recent Articles
					h5.foot-widget-link
						a(href="#") An htaccess Template
					h5.foot-widget-link
						a(href="#") "Fizzbuzz"
					h5.foot-widget-link
						a(href="#") Apache Localhost (Tutorial)
					h5.foot-widget-link
						a(href="#") Web Developer Self-sufficiency
					h5.foot-widget-link
						a(href="#") NSString to Read ASCII File
				div.footer-nav
					h5.foot-widget-head Quick Links
					h5.foot-widget-link
						a(href="#") Inside of Technology
					h5.foot-widget-link
						a(href="#") Wordpress
					h5.foot-widget-link
						a(href="#") Security
					h5.foot-widget-link
						a(href="#") About
					h5.foot-widget-link
						a(href="#") Contact
				div.author
					p.author-note
						| It all started with an idea... And then it developed into a custom design...  From paper to a screen, a website came to life...  This idea is curtosy of <a href='#'>Searsino</a>.
					ul.connect-list
						li.social-connection
							a(href='https://www.facebook.com/jcsearson' class='social-media-anchor' target='_blank')
								include ./images/icons/svg/facebook.svg

						li.social-connection
							a(href='https://twitter.com/GreatSearsino' class='social-media-anchor' target='_blank')
								include ./images/icons/svg/twitter.svg

						li.social-connection
							a(href='https://www.linkedin.com/in/jamessearson' class='social-media-anchor' target='_blank')
								include ./images/icons/svg/linkedin.svg

						li.social-connection
							a(href='https://github.com/jcsearson' class='social-media-anchor' target='_blank')
								include ./images/icons/svg/github.svg



		div.colophan
			div.copyright
				p &copy; 2015,  Searsino | All Rights Reserved

include jades/scripts.jade