doctype default
html(lang="en")

	head
		//- Typekit Font Request
		include jades/typekits.jade
		title WireGrunt.com
		//- Metas
		include jades/metas.jade
		//- favicons
		include jades/stylesheets.jade
		//- <meta name='google-site-verification' content='4uYZbqUA80FY2H8m4TS7_Rfb7x_LpmXd6vpsddVGUHM' />

	body
		section.heading
			div.head-container
				header(role='banner')
					a(href='http://searsino.com/' class="logo-caps") W<span>ire</span>G<span>runt</span>

				nav(class="menu" role="navigation")
					ul.nav-list
						li.nav-item-box
							a(href='#' tabindex="3") Articles
						li.nav-item-box
							a(href='#' tabindex="4") Forum
						li.nav-item-box
							a(href='#'  tabindex="5") Wordpress
						li.nav-item-box
							a(href='#'  tabindex="6") Resources
						li.nav-item-box
							a(href='#'  tabindex="6") Log In



		div.main-content
			//------------------------------------------------------------------
			//--------------------------BLOG POST---------------------------
			//------------------------------------------------------------------
			section(class='primary' role='main')
				article.blog-post-summary
					div.meta-box
						h2.post-title
							a(href='#') Apple's Big Update
						h4.post-meta.make-note In <a href="#" class="post-category">Software</a> by <a href="#" class="post-author">James Searson</a> on October 10, 2015
					div.post-styles
						include jades/blogpost.jade
					div.blog-post-tags
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Apple
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link El Capitan
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Software Updates
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Linux
					div.media-share-post
						a(class="media-share-post-link facebook-share-post" href="#")
							include images/icons/svg/blog-media/facebook-circle.svg
						a(class="media-share-post-link twitter-share-post" href="#")
							include images/icons/svg/blog-media/twitter-circle.svg
						a(class="media-share-post-link google-share-post" href="#")
							include images/icons/svg/blog-media/google-circle.svg
					div.user-comment-box
						form(class="reply authenticated")
							div(class="postbox")
							div(class="avatar")
							div(class="textarea-wrapper" data-role="textarea" dir="auto")


			//------------------------------------------------------------------
			//--------------------------SIDE-CONTENT----------------------
			//------------------------------------------------------------------
			section(class='secondary' role='region')
				h2 Top Articles
				article.related-articles
					h3.article-title
						<a href='#' target='_blank' class="related-link"  tabindex="7">Making WP-Admin Safe for Clients</a>
						span(class="article-sub-title") Developer Code Snippets
					h3.article-title
						<a href='#' target='_blank' class="related-link"  tabindex="8">Web Developer Self-sufficiency</a>
						span(class="article-sub-title") A Tentative Guide
					h3.article-title
						<a href='#' target='_blank' class="related-link"  tabindex="9">Apache Localhost Tutorial</a>
						span(class="article-sub-title") Configuration Solution
					h3.article-title
						<a href='#' target='_blank' class="related-link"  tabindex="10">Write Objects to a Text File</a>
						span(class="article-sub-title") iOS Development
					h3.article-title
						<a href='#' target='_blank' class="related-link"  tabindex="11">NSString for Reading an ASCII File</a>
						span(class="article-sub-title") iOS Toolbox

			section(class="secondary" role="region")
				h2	Forum
				article.forum-cat-links
					h3.forum-category-title
						<a href='#' target='_blank' class="forum-category-link"  tabindex="12">HTML & CSS</a>
					h3.forum-category-title
						<a href='#' target='_blank' class="forum-category-link"  tabindex="13">JavaScript & JQuery</a>
					h3.forum-category-title
						<a href='#' target='_blank' class="forum-category-link"  tabindex="14">PHP</a>
					h3.forum-category-title
						<a href='#' target='_blank' class="forum-category-link"  tabindex="15">SQL</a>
					h3.forum-category-title
						<a href='#' target='_blank' class="forum-category-link"  tabindex="15">Browsers</a>


			section(class='secondary' role='complimentary')
				h2 Around the Web
				article.related-articles
					h4.web-article.article-title
						<a href='http://www.bloomberg.com/bw/stories/2001-12-05/lamos-adventures-in-worldcom' target='_blank' class="related-link web-attribution"  tabindex="16">Adrian Lamo's Adventures at WorldCom</a>
					h4.web-article.article-title
						<a href='http://www.wired.com/2015/10/see-jrr-tolkien-lord-of-the-rings-middle-earth-illustrations-for-first-time/' target='_blank' class="related-link web-attribution"  tabindex="17">The Sketches that Inspired...</a>
					h4.web-article.article-title
						<a href='http://www.paulund.co.uk/creating-different-css3-box-shadows-effects' target='_blank' class="related-link web-attribution"  tabindex="18">A Closer Look at CSS Box Shadows...</a>
					h4.web-article.article-title
						<a href='http://www.toptal.com/php/10-most-common-mistakes-php-programmers-make/' target='_blank' class="related-link web-attribution"  tabindex="19">10 Common (PHP) Mistakes that...</a>
					h4.web-article.article-title
						<a href='http://www.sbnation.com/nfl/2015/8/7/9114747/joe-flacco-elite-gop-debate-cleveland/' target='_blank' class="related-link web-attribution"  tabindex="20">What a Guy with a Joe Flacco Sign...</a>

			section(class="secondary" role="region")

			//------------------------------------------------------------------
			//--------------------------BOTTOM BANNER-------------------
			//------------------------------------------------------------------
			section(class="tertiary" role="region")
				article.repost-article
						a(href="https://howdns.works/" target="_blank")
							h2.repost-title
								| How About A Free Refresher Course on DNS Lookups?
							p.repost-excerpt
								img(src="images/content/how-dns-works.png", alt="How DNS Works Comic Boook by DNSimple")



		footer(role='contentinfo')
			div.foot-wrap
				div.recent-articles-footer
					h5.foot-widget-head Recent Articles
					h5.foot-widget-link
						a(href="#") An htaccess Template
					h5.foot-widget-link
						a(href="#") "Fizzbuzz"
					h5.foot-widget-link
						a(href="#") Apache Localhost (Tutorial)
					h5.foot-widget-link
						a(href="#") Web Developer Self-sufficiency
					h5.foot-widget-link
						a(href="#") NSString to Read ASCII File
				div.footer-nav
					h5.foot-widget-head Quick Links
					h5.foot-widget-link
						a(href="#") Articles
					h5.foot-widget-link
						a(href="#") Forum
					h5.foot-widget-link
						a(href="#") Wordpress
					h5.foot-widget-link
						a(href="#") Resources
					h5.foot-widget-link
						a(href="#") Colophan
				div.author
					p.author-note
						| It all started with an idea... And then it developed into a custom design...  From paper to a screen, a website came to life...  This idea is curtosy of <a href='#'>Searsino</a>.
					ul.connect-list
						li.social-connection
							a(href='https://www.facebook.com/jcsearson' class='social-media-anchor' target='_blank')
								include ./images/icons/svg/footer-media/facebook.svg

						li.social-connection
							a(href='https://twitter.com/GreatSearsino' class='social-media-anchor' target='_blank')
								include ./images/icons/svg/footer-media/twitter.svg

						li.social-connection
							a(href='https://www.linkedin.com/in/jamessearson' class='social-media-anchor' target='_blank')
								include ./images/icons/svg/footer-media/linkedin.svg

						li.social-connection
							a(href='https://github.com/jcsearson' class='social-media-anchor' target='_blank')
								include ./images/icons/svg/footer-media/github.svg



		div(class="colophan" role="contentinfo")
			div.copyright
				p &copy; 2015,  Searsino | All Rights Reserved.

include jades/scripts.jade