include parts/doctype.jade
		include parts/header.jade

		div.main-content
			section(class='resources-container' role='main')
				div(class="front-end-content resource-block")
					h2(class="front-end-title ") <a href="/resources-front-end.html">Front End Development</a>
				div(class="wordpress-content resource-block")
					h2(class="wordpress-title") Wordpress
				div(class="security-content resource-block")
					h2(class="security-title") Security
				div(class="back-end-content resource-block")
					h2(class="back-end-title") Back End Development
				div(class="learning-content resource-block")
					h2(class="learning-title") Learn
				div(class="tech-content resource-block")
					h2(class="tech-title") General Technology


include parts/footer.jade
include jades/scripts.jade