include parts/doctype.jade
		include parts/header.jade

		div.main-content
			section(class='primary' role='main')
				article.blog-post-summary
					div.meta-box
						div.meta-writing
							h2.post-title
								a(href='#') Getting “Hacked” in Wordpress
							h4.post-meta.make-note In <a href='#' class='post-category'>Software</a> by <a href='#' class='post-author'>James Searson</a> on October 10, 2015
						img(src="images/content/stock-photo.jpg", class="titled-featured-img")
					div.post-styles
						include parts/fullpost.html
					div.blog-post-tags
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Brute Force
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Cyber Security
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link eCommerce
						a(class="media-tag-link" href="#")
							include images/icons/svg/blog-media/svg-tag.svg
							span.tag-link Hacker

			include parts/sidebar.jade
			include parts/tertiary.jade
include parts/footer.jade
include jades/scripts.jade