p.post-styles-excerpt
	| In this lucrative world of the Web, I have experienced many type of struggles.  Often the source of this stems from the daily push and pull that will occur between the design/marketing team and developers.  The struggle to keep a healthy balance between choosing the best content and how this will impact the general sites well-being.