p.post-styles-excerpt
	| The other day I had the great misfortune of dealing with the doings of a hacker on my clients site.  Now normally I am very good about plugging any backdoors or weak spots before they can ever be exploited, but this particular client had brought me on after the site had been life a few weeks.