//- metas.jade
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=Edge, Chrome=1')
meta(name='description' content='The Portfolio and Blog template for my Website')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='title' content='The Web Development Blog and Portofolio of James C. Searson')
meta(name='description' content='A Blog about Web Development, iOS Development, and all things Technology')
meta(property='og:type' content='website')
meta(property='og:url' content='http://searsino.com')
meta(property='og:site_name' content='James C. Searson')
meta(property='og:title' content='The Web Development Blog and Portofolio of James C. Searson')
meta(property='og:description' content='A Blog about Web Development, iOS Development, and all things Technology')