//- stylsheets.jade
link(rel='apple-touch-icon' sizes='144x144' href='$apple-touch-url')
link(rel='icon' type='image/png' href='$favicon-url' sizes='32x32')
link(rel='manifest' href='$manifest-url')
link(rel='stylesheet' href='css/style.css')
script(src='//snapsvg.io/assets/js/snap.svg-min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js')